body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Neutral background outside the form */
    margin: 0;
    padding: 20px;
}

h2 {
    color: #000000;
    text-align: center;
}

h3 {
    color: #12110b;
    text-align: center;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between label and input */
}

form {
    background-image: url('/static/images/fresh air.jpg'); /* Add background image inside form */
    background-size: cover; /* Ensures the image covers the form area */
    background-position: center; /* Centers the image inside the form */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #000000; /* White text for better contrast */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 800px; /* Increased width */
    margin: 0 auto;
}

label {
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Space above the button */
}

.button-container button {
    background-color: #28a745; /* Green background */
    color: white; /* White text */
    padding: 10px 15px; /* Padding around the text */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    font-size: 20px; /* Font size */
    transition: background-color 0.3s; /* Smooth color transition */
}

.button-container button:hover {
    background-color: #218838; /* Darker green on hover */
}
/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 20px;
    }

    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        display: block;
        padding: 10px 0;
    }

    .form-container {
        padding: 10px;
        margin: 60px auto; /* Adjust margin for mobile */
    }
}


